body {
    font-family: Lucida Console, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(129, 90%, 45%);
    color: #92243a;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #13d249;
    color: #c50505d6;
    text-align: center;
    padding: 10px;
}

